@model List<OneRing.Models.ToDoItem>
@{
    ViewBag.Title = "Index";
    Layout = "";
}
<!DOCTYPE html>
<html>
    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
<body style="padding-top: 0px;">
    <h2>Todo List</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Title</th>
            <th>Complete?</th>
            <th>Due Date</th>
        </tr>
        @foreach (var todo in Model) {
            <tr>
                <td><a href="@todo.Link">@todo.Title</a></td>
                    @if (todo.Complete) {
                        <td>Done</td>
                    } else {
                        <td>Incomplete</td>
                    }
                <td>@todo.DueDate</td>
            </tr>
        }
    </table>
</body>

</html>
